.featured-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.featured-in__title {
  font-size: 1.3rem;
  opacity: 50%;
  filter: brightness(0);
  text-transform: uppercase;
  font-weight: 500;
}

.featured-in__images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured-in__images__image {
  height: 3.2rem;
  opacity: 50%;
  filter: brightness(0);
}
