.hero {
  background-color: var(--primary-color-80);
}
.hero--sticky {
  margin-top: 8rem;
}

.hero__sub-wrapper {
  max-width: 130rem;
  padding: 7rem 3rem 3rem 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: center;
}

.hero__sub-wrapper__headline__title {
  max-width: 15ch;
}

.hero__sub-wrapper__headline__body {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
}

.hero__sub-wrapper__image {
  max-width: 100%;
}

.hero__sub-wrapper__buttons__button {
  margin-right: 1.5rem;
}

.hero__sub-wrapper__user-pictures {
  display: flex;
  align-items: center;
}
.hero__sub-wrapper__user-pictures__user-picture {
  height: 4.5rem;
  border-radius: 50%;
  border: 3px solid var(--primary-color-80);
}
.hero__sub-wrapper__user-pictures__user-picture:not(:first-child) {
  margin-left: -1.5rem;
}

.hero__sub-wrapper__user-pictures__paragraph {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 2rem;
}

.hero__sub-wrapper__user-pictures__paragraph span {
  color: var(--primary-color-500);
  font-weight: 700;
}
